/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  color: #ffffff;
  height: 100% !important;
}
a {
  color: #ffffff;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/***************************************** 
	GENERAL STYLES
	**************************************/
.form-control.error {
  border-color: #F00;
}
.container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background-color: #151515;
  background-position: top left;
  background-repeat: repeat;
}
#swap-container {
  top: 100%;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float: left;
  width: 100%;
  max-width: 512px;
  position: relative;
}
.swipe-wrap div img {
  display: block;
  width: 100%;
}
/***************************************** 
	PAGE STYLES
	**************************************/
#site-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#site-wrapper nav {
  top: 0;
  width: 100%;
  position: absolute;
}
#site-wrapper nav li {
  width: 25%;
  float: left;
  margin: 15px auto;
  text-align: center;
}
#site-wrapper .content-wrapper {
  top: 40px;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
}
#site-wrapper .table-center {
  height: 100%;
  margin: 0 auto;
  display: table;
}
#site-wrapper .v-center {
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#site-wrapper .container-home img {
  width: 100%;
  max-width: 516px;
  height: auto;
}
#site-wrapper .container-home .v-center {
  padding: 0 15px;
}
#site-wrapper .container-team .table-center {
  display: block;
}
#site-wrapper .container-team .v-center {
  display: block;
  text-align: left;
}
#site-wrapper .container-team .content-wrapper {
  overflow-y: scroll;
  padding: 20px 0px;
}
#site-wrapper .container-team .member-wrapper {
  width: 50%;
  height: 33%;
  position: relative;
  overflow: hidden;
  display: inline-block;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
#site-wrapper .container-team .member-wrapper.selected {
  width: 100%;
  height: 100%;
}
#site-wrapper .container-team .member-wrapper.selected .team-memeber {
  padding: 0;
}
#site-wrapper .container-team .member-wrapper.selected .head {
  width: 25%;
  height: 50%;
  border: none;
  background: transparent;
}
#site-wrapper .container-team .member-wrapper.selected .member-name {
  background: transparent;
}
#site-wrapper .container-team .member-wrapper.selected .member-info {
  width: 100%;
  display: block;
}
#site-wrapper .container-team .member-wrapper.unselected {
  display: none;
}
#site-wrapper .container-team .team-memeber {
  width: 100%;
  height: 100%;
  padding: 33% 0;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
#site-wrapper .container-team .head {
  width: 100px;
  height: 140px;
  margin: 0 auto;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
#site-wrapper .container-team .head img {
  width: 100%;
  height: auto;
}
#site-wrapper .container-team .member-name {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;
  font-weight: 600;
  line-height: 8em;
  position: absolute;
  text-align: center;
  font-size: 1.125em;
  vertical-align: middle;
  background-color: rgba(95, 95, 95, 0.5);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#site-wrapper .container-team .member-name:hover {
  opacity: 1;
}
#site-wrapper .container-team .member-title {
  display: block;
  text-align: left;
  font-weight: 600;
  font-size: 1.125em;
}
#site-wrapper .container-team .member-info {
  float: left;
  display: none;
  padding: 30px 20px;
  background: #333333;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  -webkit-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#site-wrapper .container-contact .question-wrapper {
  padding: 10px;
  width: 100%;
  text-align: left;
}
#site-wrapper .container-contact .question-button {
  text-align: right;
  margin: 20px auto;
}
#site-wrapper .container-us img,
#site-wrapper .container-us #video-container {
  max-width: 640px;
  width: 100%;
  height: auto;
  max-height: 390px;
  margin: 0 auto;
}
#site-wrapper .container-us .table-center {
  width: 100%;
}
#site-wrapper .container-us .v-center {
  width: 100%;
}
#site-wrapper .container-work .content-wrapper {
  overflow-y: scroll;
}
#site-wrapper .container-work .project-wrapper {
  margin: 10px;
  display: inline-block;
  cursor: pointer;
  width: 200px;
  height: 200px;
}
#site-wrapper .container-work .project-wrapper.opened {
  cursor: auto;
  width: 100%;
  height: auto;
  background: #333333;
  margin: 10px 0;
  padding: 10px;
  text-align: left;
  -webkit-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#site-wrapper .container-work .project-wrapper.opened .logo {
  opacity: 0;
}
#site-wrapper .container-work .logo {
  top: 0;
  left: 0;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg);
  /* Firefox 4+ */
  filter: gray;
  /* IE 6-9 */
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
#site-wrapper .container-work .logo:hover {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
  filter: url(grayscale.svg);
  /* Firefox 4+ */
  filter: gray;
  /* IE 6-9 */
}
@media screen and (min-width: 48em) {
  #site-wrapper .content-wrapper {
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    overflow: hidden;
    position: absolute;
  }
  #site-wrapper nav {
    height: 100%;
  }
  #site-wrapper nav li {
    margin: 0;
    float: none;
    width: auto;
  }
  #site-wrapper nav .up {
    top: 10px;
    left: 50%;
    position: absolute;
  }
  #site-wrapper nav .right {
    right: 10px;
    top: 50%;
    position: absolute;
  }
  #site-wrapper nav .down {
    bottom: 10px;
    left: 50%;
    position: absolute;
  }
  #site-wrapper nav .left {
    left: 10px;
    top: 50%;
    position: absolute;
  }
  #site-wrapper .container-team .content-wrapper {
    overflow-y: hidden;
  }
  #site-wrapper .container-team .member-wrapper {
    width: 25%;
  }
  #site-wrapper .container-team .member-wrapper.selected .head {
    float: left;
    width: auto;
    height: 100%;
    width: 15%;
  }
  #site-wrapper .container-team .member-wrapper.selected .member-info {
    float: left;
    max-width: 75%;
    margin-left: 3%;
  }
  #site-wrapper .container-contact .question-wrapper {
    width: 460px;
  }
}
